<launch>
      <node name="console_node" 
            pkg="panda_gym_moveit" 
            type="console.py" 
            respawn="false" 
            output="screen">
            <!-- custom 1 -->
            <param name="px1" type="double" value="0.3"/>
            <param name="py1" type="double" value="0.0"/>
            <param name="pz1" type="double" value="0.0"/>

            <param name="ox1" type="double" value="0.0"/>
            <param name="oy1" type="double" value="0.0"/>
            <param name="oz1" type="double" value="0.0"/>
            <param name="ow1" type="double" value="1.0"/>

            <!-- custom 2 -->
            <param name="px2" type="double" value="0.3"/>
            <param name="py2" type="double" value="0.0"/>
            <param name="pz2" type="double" value="0.0"/>

            <param name="ox2" type="double" value="0.0"/>
            <param name="oy2" type="double" value="0.0"/>
            <param name="oz2" type="double" value="0.0"/>
            <param name="ow2" type="double" value="1.0"/>
            <param name="fd2" type="double" value="0.0"/>
            <param name="gr2" type="double" value="1.0"/>
      </node>
</launch>